// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

body {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
    gap: 270px;
}

.nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: right;
        font-family: Arial, Helvetica, sans-serif;
    }
}

span { //Text color for icons
    color: black;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.img {
    width: 250px;
    height: auto;
}

.section {
    font-size: 16px;
    &__figures {
        display: flex;
    }
    &__searchbar {
        display: block;
        justify-content: center;

    }
    &__categories {
        color: #06befb;
        display: flex;

        &--row{
            list-style-type: none;
            flex-direction: column;


        }
    }
    &__cards {
        &--1 {
            width: 250px;
            height: 300px;
            flex: 1;
            flex-direction: row;
            //justify-content: space-between;
            align-items: left;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 2px grey;
            overflow: hidden;
    

        }
        &--2 {
            width: 250px;
            height: 300px;
            flex: 1;
            flex-direction: row;
            //justify-content: space-between;
            align-items: left;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 2px grey;
            overflow: hidden;

        }
        &--3 {
            width: 250px;
            height: 300px;
            flex: 1;
            flex-direction: row;
            //justify-content: space-between;
            align-items: left;
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 1px 2px grey;
            overflow: hidden;

        }

        &--heart { //theory: it wont work because of Finns own structure with the svg
            position: absolute;
            display: inline-block;
            top: 10px;
            right: 10px;
            width: 24px;
            height: auto;

        }
        &--contents{
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            padding: 15px 20px 15px 20px;
            height: 100px;


        }
    }
    &__login {
        width: 400px;
        justify-content: space-between;
        align-items: left;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 2px grey;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 15px 20px 15px 20px;
        height: 500px
    }
}

.input {
    align-content: left;
    &__email {
        width: 400px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #E5E5E5;
        padding: 12px 10px 12px 27px;
        overflow: initial;
    }
    &__password {
        width: 400px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #E5E5E5;
        padding: 12px 10px 12px 27px;
        overflow: initial;
        &--eye {
            position: absolute;
            padding: none;
        }
    }
    &__searchbar {
        width: 50%;
        align-items: center;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: white;
        padding: 12px 10px 12px 27px;
        overflow: initial;
        border: 2px solid #c3ccd9;
    }
}

label {
    text-decoration: none;
}

.checkbox {
    &__preferance {
        align-self: start;

    }
    &__favorite {
        position: absolute;
        left: 200px;
    }
}

.button {
    &__primary {
        padding: 20px;
        background-color: #0063fb;
        color: white;
        border-radius: 8px;
        border: none;
    }
    &__flat {
        padding: 20px;
        background-color: transparent;
        color: #0063fb;
        border-radius: 8px;
        border: none;

    }
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5px;
    text-decoration: none;
    
    &__link {
        text-decoration: none;
        &--underline {
            text-decoration: underline;
        }
    }
    &__help {
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    &--price {
        position: absolute;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;

    }
    &--description {
        text-decoration: none;
    }
    &--place {
        text-decoration: none;        
        color: #767676;
    }
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;


}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;


}

p {
    font-family: Arial, Helvetica, sans-serif;
}
