// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...
.input {
    align-content: left;
    &__email {
        width: 220px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: white;
        padding: 12px 10px 12px 27px;
        overflow: initial;

    }
    &__password {
        width: 220px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: white;
        
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 10px 12px 20px;
        overflow: initial;

        &--eye {
            position: fixed;
            padding: 0px 0px;

        }

    }
}

label {
    text-decoration: none;
}

.text {
    font-family: sans-serif;
    text-decoration: none;
    &__help {

    }
    &__price {
        position: fixed;
        padding: 130px 4px;

    }
    &__description {
        text-decoration: none;

    }
    &__place {
        text-decoration: none;

    }
    &__link {
        text-decoration: none;

        &--underline {

        }
    }
}

.card {
    &__login {
        width: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        padding: 15px 20px 15px 20px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;
        
    }
    &__img {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        padding: 15px 20px 15px 20px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;

        &--button {

        }
    }
}

.checkbox {
    &__preferance {
        align-self: start;

    }
    &__favorite {
        position: absolute;
        left: 200px;

    }
}

.button {
    &__primary {
        padding: 5px;
        background-color: #0063fb;
        color: white;
        border-radius: 10px;
        border: none;
    }
    &__flat {
        padding: 5px;
        background-color: transparent;
        color: #0063fb;
        border-radius: 10px;
        border: none;

    }
}