.nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: right;
}

span {
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  font-size: 16px;
}
.section__categories {
  color: #06befb;
}
.section__categories--row {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 15em 1fr) 200px;
}
.section__cards {
  width: 400px;
  display: 1 flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  overflow: hidden;
}
.section__cards--heart {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  width: 24px;
  height: auto;
}
.section__cards--contents {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 15px 20px 15px 20px;
  height: 200px;
}
.section__cards--img {
  width: auto;
  height: auto;
  margin: 0 auto;
}
.section__login {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 15px 20px 15px 20px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.input {
  align-content: left;
}
.input__email {
  width: 220px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #E5E5E5;
  padding: 12px 10px 12px 27px;
  overflow: initial;
}
.input__password {
  width: 220px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #E5E5E5;
  padding: 12px 10px 12px 27px;
  overflow: initial;
}
.input__password--eye {
  position: absolute;
  padding: none;
}
.input__searchbar {
  width: 50%;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  padding: 12px 10px 12px 27px;
  overflow: initial;
  border: 2px solid #c3ccd9;
}

label {
  text-decoration: none;
}

.checkbox__preferance {
  align-self: start;
}
.checkbox__favorite {
  position: absolute;
  left: 200px;
}

.button__primary {
  padding: 5px;
  background-color: #0063fb;
  color: white;
  border-radius: 10px;
  border: none;
}
.button__flat {
  padding: 5px;
  background-color: transparent;
  color: #0063fb;
  border-radius: 10px;
  border: none;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5px;
  text-decoration: none;
}
.text__link {
  text-decoration: none;
}
.text__link--underline {
  text-decoration: underline;
}
.text__help {
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
}
.text--price {
  position: absolute;
  text-decoration: none;
}
.text--description {
  text-decoration: none;
}
.text--place {
  text-decoration: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=style.css.map */