body {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
}

nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: right;
  font-family: Arial, Helvetica, sans-serif;
  gap: 270px;
}

.nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: right;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  width: 250px;
  height: auto;
}

.section {
  font-size: 16px;
}
.section__figures {
  display: flex;
}
.section__searchbar {
  display: block;
  justify-content: center;
}
.section__categories {
  color: #06befb;
  display: flex;
}
.section__categories--row {
  list-style-type: none;
  flex-direction: column;
}
.section__cards--1 {
  width: 250px;
  height: 300px;
  flex: 1;
  flex-direction: row;
  align-items: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  overflow: hidden;
}
.section__cards--2 {
  width: 250px;
  height: 300px;
  flex: 1;
  flex-direction: row;
  align-items: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  overflow: hidden;
}
.section__cards--3 {
  width: 250px;
  height: 300px;
  flex: 1;
  flex-direction: row;
  align-items: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  overflow: hidden;
}
.section__cards--heart {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  width: 24px;
  height: auto;
}
.section__cards--contents {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 15px 20px 15px 20px;
  height: 100px;
}
.section__login {
  width: 400px;
  justify-content: space-between;
  align-items: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 15px 20px;
  height: 500px;
}

.input {
  align-content: left;
}
.input__email {
  width: 400px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #E5E5E5;
  padding: 12px 10px 12px 27px;
  overflow: initial;
}
.input__password {
  width: 400px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #E5E5E5;
  padding: 12px 10px 12px 27px;
  overflow: initial;
}
.input__password--eye {
  position: absolute;
  padding: none;
}
.input__searchbar {
  width: 50%;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  padding: 12px 10px 12px 27px;
  overflow: initial;
  border: 2px solid #c3ccd9;
}

label {
  text-decoration: none;
}

.checkbox__preferance {
  align-self: start;
}
.checkbox__favorite {
  position: absolute;
  left: 200px;
}

.button__primary {
  padding: 20px;
  background-color: #0063fb;
  color: white;
  border-radius: 8px;
  border: none;
}
.button__flat {
  padding: 20px;
  background-color: transparent;
  color: #0063fb;
  border-radius: 8px;
  border: none;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5px;
  text-decoration: none;
}
.text__link {
  text-decoration: none;
}
.text__link--underline {
  text-decoration: underline;
}
.text__help {
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
}
.text--price {
  position: absolute;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.text--description {
  text-decoration: none;
}
.text--place {
  text-decoration: none;
  color: #767676;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=style.css.map */